<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smk.pay.order.dao.OrderReregistEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smk.pay.order.entity.OrderReregistEntity" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="CARD_CODE" property="cardCode" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="REQ_SEQ" property="reqSeq" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Query_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
              <when test="criterion.noValue" >
                and ${criterion.condition}
              </when>
              <when test="criterion.singleValue" >
                and ${criterion.condition} #{criterion.value}
              </when>
              <when test="criterion.betweenValue" >
                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
              </when>
              <when test="criterion.listValue" >
                and ${criterion.condition}
                <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                  #{listItem}
                </foreach>
              </when>
            </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_Where_Clause" >
    <where >
      <foreach collection="condition.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, CARD_CODE, CARD_NO, TYPE, REQ_SEQ
  </sql>
  <select id="selectList" resultMap="BaseResultMap" parameterType="com.smk.pay.dal.condtion.EntityCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_ORDER_REREGIST
    <if test="_parameter != null" >
      <include refid="Query_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_ORDER_REREGIST
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_ORDER_REREGIST
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="delete" parameterType="com.smk.pay.dal.condtion.EntityCondition" >
    delete from T_ORDER_REREGIST
    <if test="_parameter != null" >
      <include refid="Query_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smk.pay.order.entity.OrderReregistEntity" >
    insert into T_ORDER_REREGIST (ORDER_ID, CARD_CODE, CARD_NO, 
      TYPE, REQ_SEQ)
    values (#{orderId,jdbcType=VARCHAR}, #{cardCode,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{reqSeq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smk.pay.order.entity.OrderReregistEntity" >
    insert into T_ORDER_REREGIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="cardCode != null" >
        CARD_CODE,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="reqSeq != null" >
        REQ_SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="cardCode != null" >
        #{cardCode,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="reqSeq != null" >
        #{reqSeq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="count" parameterType="com.smk.pay.dal.condtion.EntityCondition" resultType="java.lang.Integer" >
    select count(*) from T_ORDER_REREGIST
    <if test="_parameter != null" >
      <include refid="Query_Where_Clause" />
    </if>
  </select>
  <update id="updateSelective" parameterType="map" >
    update T_ORDER_REREGIST
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.cardCode != null" >
        CARD_CODE = #{record.cardCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null" >
        CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.reqSeq != null" >
        REQ_SEQ = #{record.reqSeq,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_Where_Clause" />
    </if>
  </update>
  <update id="update" parameterType="map" >
    update T_ORDER_REREGIST
    set ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      CARD_CODE = #{record.cardCode,jdbcType=VARCHAR},
      CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      REQ_SEQ = #{record.reqSeq,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smk.pay.order.entity.OrderReregistEntity" >
    update T_ORDER_REREGIST
    <set >
      <if test="cardCode != null" >
        CARD_CODE = #{cardCode,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="reqSeq != null" >
        REQ_SEQ = #{reqSeq,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smk.pay.order.entity.OrderReregistEntity" >
    update T_ORDER_REREGIST
    set CARD_CODE = #{cardCode,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      REQ_SEQ = #{reqSeq,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>

</mapper>